.description
    color $cinzaescuro3
    letter-spacing 0
    font-size 16px
    line-height 2.2

    strong
        color $preto

    p
        margin-bottom 1.8em

@media $larger
    .description
        font-size 15px

        p
            margin-bottom 1.5em

@media $large
    .description
        font-size 14px
        letter-spacing .1px
        line-height 2

@media $medium
    .description
        letter-spacing 0
        line-height 1.8

@media $small
    .description
        font-size 13px
        line-height 1.5
