.input
    display flex
    align-items center
    position relative
    min-height 45px
    width 100%
    background-color transparent
    border none
    border-bottom 1px solid $vermelho
    margin-bottom 50px
    box-sizing border-box

    &--file
        border-bottom none

    &.has-error
        border-color $error-color

        .input__error
            display block

.input--active
    .input__label
        transform translateY(-18px)
        transform-origin left
        font-size 14px

    .input__field
        transform translateY(6px)

    textarea.input__field
        height 120px
        padding-bottom 5px

.input--select
    position relative

    .input__field
        padding 0 2px

    &:before
        content ''
        position absolute
        right 0
        bottom 0
        width 30px
        height 30px
        bg('icon-dropdown.svg', center, center)
        background-size 10px auto
        pointer-events none

.input--file
    flex-direction column
    align-items flex-start
    margin-top 10px

    .input__label
        position static
        margin-left 5px

.input__attach
    font-size 24px
    color $cor-secundaria
    cursor pointer
    border none
    font-weight 700
    text-decoration underline
    background-color transparent

.input__filename
    position relative
    display inline-block
    font-size 12px
    font-weight 400
    margin-left 20px

    &:before
        content ''
        square 20px
        margin-right 10px
        replace('icon-check.svg')
        display inline-block
        transform translateY(5px)

.input__error
    display none
    position absolute
    bottom -20px
    right 0
    color $error-color
    font-size 10px
    font-weight 600
    text-align right

.input__label
    display block
    position absolute
    top 5px
    left 1px
    color $branco
    font-family $font-primaria
    font-size 20px
    font-weight 400
    letter-spacing 0
    z-index 1
    pointer-events none
    transition all 150ms ease

.input__field
    display block
    width 100%
    height 45px
    padding 0 2px
    box-sizing border-box
    border none
    font-size 22px
    color $cinzaclaro
    background transparent
    font-weight 600
    outline none
    transition all 150ms ease

textarea.input__field
    height 45px
    padding-top 15px
    resize none
    font-family $font-primaria
    color $branco
    font-size 16px
    line-height 2
    overflow hidden

select.input__field
    -webkit-appearance none
    -moz-appearance none
    appearance none
    line-height normal
    background-color transparent

@media $small
    .input__field
        font-size 16px

@media $smaller
    .input.has-error .help-block.form-error
        right 0

