// Colors
$preto          = #000000
$grafite        = #222222
$cinzaescuro    = #49494C
$cinzaescuro2   = #7d7d7d
$cinzaescuro3   = #888888
$cinza          = #b2b2b2
$cinzafrio      = #B6B8BF
$cinza2         = #d6d6d6
$cinza3         = #dbdbdb
$cinzaclaro2    = #E0E0E0
$cinzaclaro1    = #e5e5e5
$cinzaclaro     = #EEEEEE
$branco3        = #F0F0F0
$branco2        = #F7F7F7
$branco1        = #FAFAFA
$branco         = #ffffff

$vermelho       = #FF3644

$success-color  = #56B949
$error-color    = #CD0006

$cor-primaria   = $preto
$cor-secundaria = $vermelho

// Media Queries
$largest-screen    = 1679px // container 1160
$larger-screen     = 1439px // container 1100
$large-screen      = 1279px // container 1000
$medium-screen     = 1023px // container 610
$small-screen      = 767px  // container 460
$smaller-screen    = 479px  // container 340
$smallest-screen   = 374px  // container 280

$largest           = 'only screen and (max-width: $largest-screen)'
$larger            = 'only screen and (max-width: $larger-screen)'
$large             = 'only screen and (max-width: $large-screen)'
$medium            = 'only screen and (max-width: $medium-screen)'
$small             = 'only screen and (max-width: $small-screen)'
$smaller           = 'only screen and (max-width: $smaller-screen)'
$smallest          = 'only screen and (max-width: $smallest-screen)'

$medium-only       = 'only screen and (min-width: $small-screen) and (max-width: $medium-screen)'
$larger-only       = 'only screen and (min-width: $large-screen) and (max-width: $largest-screen)'
$large-only        = 'only screen and (min-width: $medium-screen) and (max-width: $large-screen)'

// Animation
$time-short        = 150ms
$time              = 300ms
$time-long         = 500ms

$smooth            = cubic-bezier(1,.01,.05,1)
