@tailwind base;
@tailwind components;
@tailwind utilities;

.contato__bg {
  &::after {
    content: 'CON\ATA\ATO';
    white-space: pre-wrap;
    text-align: end;
    font-size: 18dvh;
    line-height: 0.8;
    font-weight: 700;
    color: transparent;
    text-transform: uppercase;
    position: fixed;
    top: 90px;
    right: 0;
    pointer-events: none;
    width: 100%;
    height: 100%;
    z-index: -1;
    @apply bg-[url('/assets/img/contato-bg.jpg')] bg-fixed bg-cover bg-no-repeat content-[''] w-full h-full absolute bg-clip-text;
  }
}

@media (min-width: 640px) {
  .contato__bg {
    &::after {
      content: 'CON\ATATO';
      font-size: 20dvh;
    }
  }
}

@media (min-width: 1024px) {
  .contato__bg {
    &::after {
      font-size: 60dvh;
    }
  }
}
