.triangulo1,
.triangulo2,
.triangulo3 {
  animation-duration: 2s, 6s; /* Duração para o desenho e ocultação */
  animation-fill-mode: forwards; /* Mantém o estado final após a animação */
  animation-iteration-count: infinite; /* Repetição infinita */
  animation-timing-function: cubic-bezier(1, 0.01, 0.05, 1), linear;
}

.triangulo1 {
  stroke-dasharray: 1680; /* Comprimento total da linha */
  stroke-dashoffset: 1680; /* Offset inicial (invisível) */
  animation-name: dash, hide1; /* Nomes das animações */
  animation-delay: 0s, 2s; /* Atraso antes de cada animação */
}

.triangulo2 {
  stroke-dasharray: 1675;
  stroke-dashoffset: 1675;
  animation-name: dash, hide2;
  animation-delay: 2s, 4s; /* Inicia após a animação do primeiro triângulo */
}

.triangulo3 {
  stroke-dasharray: 1640;
  stroke-dashoffset: 1640;
  animation-name: dash, hide3;
  animation-delay: 4s, 6s; /* Inicia após a animação do segundo triângulo */
}

@keyframes dash {
  to {
    stroke-dashoffset: 0; /* Desenha o triângulo */
  }
}

@keyframes hide1 {
  0%,
  1% {
    opacity: 0;
  }
  2%,
  32% {
    opacity: 1;
  }
  33%,
  100% {
    opacity: 0;
  }
}

@keyframes hide2 {
  0%,
  34% {
    opacity: 0;
  }
  35%,
  65% {
    opacity: 1;
  }
  66%,
  100% {
    opacity: 0;
  }
}

@keyframes hide3 {
  0%,
  33%,
  67% {
    opacity: 0;
  }
  68%,
  98% {
    opacity: 1;
  }
  99%,
  100% {
    opacity: 0;
  }
}
