.banner
    // position relative
    height 80vh
    background-position center center
    background-size cover

.banner__container
    position absolute
    display flex
    flex-direction column
    align-items center
    justify-content center
    height 100%
    width 100%

.banner__img
    width 100%
    height auto

.banner__title
    color $branco

.banner__category
    text-transform uppercase
    font-size 11px
    color $branco
    letter-spacing 6px
    font-weight 500
    font-family $font-primaria
