.contato
    position relative
    display flex
    align-items center
    justify-content center
    min-height 100vh
    padding 10vh 0
    box-sizing border-box
    bg('contato-bg.jpg')
    background-attachment fixed
    background-size cover

    &:before
        content ''
        position absolute
        top 0
        left 0
        square 100%
        replace('contato-bg.png', center, 0)
        background-size 100% auto

.contato__container
    position relative
    z-index 7
    display grid
    grid-template-columns repeat(4, 1fr)
    grid-template-rows repeat(6, auto)
    grid-column-gap 3%
    grid-row-gap 50px
    font-weight 500

.contato__intro
    grid-area 1 / 1 / 2 / 3

.contato__telefone
    grid-area 2 / 1 / 3 / 2

.contato__email
    grid-area 2 / 2 / 3 / 3

.contato__endereco
    grid-area 3 / 1 / 4 / 2

.contato__social
    grid-area 3 / 2 / 4 / 3

.contato__subtitle
    grid-area 4 / 1 / 5 / 2
    margin-top 450px

.contato__list
    grid-area 5 / 3 / 6 / 5
    margin-top -50px

.contato__obs
    grid-area 6 / 1 / 7 / 3
    margin-top 50px
    padding-right 30%
    box-sizing border-box

    p
        color $cinzaescuro2

.contato__title
    display none

.contato__subtitle
    box-sizing border-box
    color $branco
    line-height 1.3
    font-weight 600
    font-size 40px

.contato__intro
    padding-right 35%
    margin-top 10%
    margin-bottom 20%
    box-sizing border-box
    font-size 26px
    font-weight 600
    line-height 1.5
    color $branco

.contato__link,
.contato__endereco address
    color $vermelho
    text-decoration none
    font-size 16px
    font-style normal
    line-height 1.5

.contato__list
    list-style none
    margin-left 18%

    .contato__link
        display flex
        justify-content space-between
        align-items center
        line-height 2
        margin 10px 0
        padding 10px 0 0
        font-size 30px
        font-weight 700

        &:after
            content ''
            square 10px
            replace('icon-arrow-small.svg')

.contato__label
    margin-bottom 5px
    text-transform uppercase
    font-size 12px
    font-weight 500
    color $cinzaescuro3

.contato__social
    .social__link
        square 26px
        font-size 26px
        margin-left auto
        margin-right 10px
        color $vermelho

        &:before
            bottom -5px

        &--instagram:after
            font-size 26px

@media $large
    .contato__container
        grid-template-columns repeat(3, 1fr)
        grid-template-rows repeat(6, auto)

    .contato__intro { grid-area: 1 / 1 / 2 / 3; }
    .contato__social { grid-area: 3 / 1 / 4 / 2; }
    .contato__telefone { grid-area: 4 / 1 / 5 / 2; }
    .contato__email { grid-area: 5 / 1 / 6 / 2; }
    .contato__endereco { grid-area: 6 / 1 / 7 / 2; }
    .contato__subtitle { grid-area: 3 / 2 / 7 / 3; }
    .contato__list { grid-area: 3 / 3 / 7 / 4; }

    .contato__intro
        padding-right 0
        margin-bottom 10%

@media $medium
    .contato__subtitle
        padding-left 0

    .contato__container
        grid-template-columns repeat(2, 1fr)
        grid-template-rows repeat(5, auto)
        grid-column-gap 10%

    .contato__intro { grid-area: 1 / 1 / 2 / 2; }
    .contato__social { grid-area: 3 / 1 / 4 / 2; }
    .contato__telefone { grid-area: 3 / 2 / 4 / 3; }
    .contato__endereco { grid-area: 4 / 1 / 5 / 2; }
    .contato__email { grid-area: 4 / 2 / 5 / 3; }
    .contato__subtitle { grid-area: 5 / 1 / 6 / 2; }
    .contato__list { grid-area: 5 / 2 / 6 / 3; }

@media $small
    .contato__intro
        grid-area 1 / 1 / 2 / 3
        font-size 20px

    .contato__subtitle
        font-size 18px

@media $smaller
    .contato
        padding 15vh 0 0

    .contato__container
        display flex
        flex-direction column
        grid-column-gap 0
        grid-row-gap 0
        padding-bottom 15vh

        div
            margin-bottom 10%

    .contato__subtitle
        margin-top 10%
        margin-bottom 5%
