.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 120px;
  padding: 40px 30px;
  box-sizing: border-box;
  transform: translateZ(0);
}

.header__logo {
  position: relative;
  z-index: 8;
}

.header__slogan {
  position: absolute;
  z-index: 3;
  left: 0;
  top: 0;
  width: 60px;
  height: 90vh;
  opacity: 0.4;

  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 1px;
    height: 110vh;
    background-color: var(--cinzaescuro2);
    opacity: 0.4;
  }

  span {
    position: absolute;
    top: 60vh;
    left: 0;
    display: flex;
    width: 280px;
    height: 60px;
    align-items: center;
    font-weight: 400;
    color: (var(--branco));
    font-size: 11px;
    letter-spacing: 6px;
    text-transform: uppercase;
    transform: rotate(-90deg);
    transform-origin: left top 0;
  }
}

.header--light {
  .header__slogan {
    &:after {
      background-color: var(--preto);
    }

    span {
      color: var(--grafite);
    }
  }
}
